<div class="container" align="center">
<h1>Hi to Cryptomonnaie value</h1>
<p>Sorry we are slow to search. I hope you have some patience ^^</p></br>
<p>We are limited with only 350 currency For speed trouble.</p>
<br>
<%= form_for :currency do |f| %>


  <div class="field">
    <%= f.label :Which_currency %><br />
    <%= f.text_area :content, autofocus: true %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Check that" %>
  </div>
  <br>
<% end %>



</div>
